<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digitald.technologies.crypto_tracker">

    <!-- the internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/btc_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/btc_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CoinInfo"
            android:theme="@style/AppThemeActionBae" />
        <activity
            android:name=".About"
            android:theme="@style/AppThemeAction2" />
        <activity android:name=".AddCoin"
            android:noHistory="true" />
        <activity android:name=".TabFragments.TabPortfoFragment" />
        <activity
            android:name=".AddQuantity"
            android:noHistory="true" />
        <activity android:name=".TabFragments.MyCoinsAdapter"></activity>
    </application>

</manifest>